#####################################
# DEVELOPMENT ENVIRONMENT VARIABLES #
#####################################

# --- APP CONFIGURATION ---
USER_MESSAGE_LENGTH_LIMIT=1500


# --- AI CONFIGURATION ---
OPENAI_API_KEY=Your-OpenAI-API-Key-Here

OPENAI_PLANNER_MODEL=gpt-5-2025-08-07
OPENAI_SEARCHER_MODEL=gpt-5-mini-2025-08-07
OPENAI_WRITER_MODEL=gpt-5-2025-08-07


# --- TAVILY CONFIGURATION ---
TAVILY_API_KEY=your-Tavily-API-Key-Here


# --- SEARCH CONFIGURATION ---
MAX_URL_SEARCH_PER_QUERY=3
MAX_CHARS_PER_CONTENT_SEARCH=50000
